server {
  
  root /var/www/blog/public;
  index index.php;
  location / {
    index       index.php;
    try_files $uri $uri/ /index.php?$args;
    location ~ [^/]\.php(/|$) {
      include       fastcgi_params;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      fastcgi_pass  unix:/var/run/php5-fpm.sock;
    }
  }

  location /demo {
    alias /var/www/demo;
    try_files $uri $uri/ /index.php;
    if (!-e $request_filename){
            rewrite ^.*demo/(.*)$ /demo/index.php?_url=/$1 last;
    }
    location ~ \.php$ {

        root /var/www/demo;
        fastcgi_pass  unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;

        include fastcgi_params;
        fastcgi_split_path_info       ^demo/(.+\.php)(.+)$;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root/index.php;
    }
    location ~* ^.+\.(ogg|ogv|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$ {
       access_log off; log_not_found off; expires max;add_header Cache-Control "public";
    }
  }

  
}
